<% const d = new Date(); %>
<% let year = d.getFullYear(); %>

<footer>
    <link rel="stylesheet" href="/public/style.css">
    <p >
        &copy; <%= year %> Tech Blog | Built with ❤️ by Aditya Rai
    </p>
</footer>
