<header>
    <link rel="stylesheet" href="/public/style.css">
    <nav>
        <div class="container">
            <a href="/" class="blog">Tech-blog</a>
            <ul class="items">
                <li><a href="/" class="home">Home</a></li>
                <li><a href="/new" class="post">Add Post</a></li>
            </ul>
        </div>
    </nav>
</header>